 Hello everyone, I am creating predictive model which will predict the chances of heart attack
 I am doing this project because now a days many people are died due to heart attack
 Therefore i am creating this model so that we can predict patient situation about heart attack  and so that we can treat the patient at the right time. SO that we can decrease the number of  dies

# EDA

In [1]:
# I am importing necessary libraries 
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
data = pd.read_csv("heart_attack_prediction_india.csv") # Loading dataset
data.head(10) # to see the first 10 rows of dataset

,Age,Gender,Chest Pain Type,Resting Blood Pressure,Cholesterol,Fasting Blood Sugar (> 120 mg/dL),Resting ECG Results,Max Heart Rate Achieved,Exercise-Induced Angina,Old Peak (ST Depression),...,Thalassemia,Smoking History,Obesity (BMI > 30),Hypertension History,Diabetes History,Alcohol Consumption,Physical Activity,Stress Levels,Family History of Heart Disease,Heart Attack Risk
0,69,0,4,109,487,1,1,122,1,3.51,...,2,1,1,0,0,0,0,1,1,0
1,32,0,2,125,170,0,1,113,1,4.74,...,1,0,1,1,0,0,0,2,0,1
2,89,0,2,186,543,1,0,165,1,2.70,...,1,0,0,1,0,1,1,3,0,0
3,78,0,2,104,367,0,0,117,1,0.62,...,1,1,0,1,0,1,0,1,0,1
4,38,1,1,151,158,1,0,123,1,2.00,...,2,0,1,1,0,1,0,2,0,1
5,92,1,4,199,560,0,0,213,1,0.97,...,3,0,1,0,0,0,1,1,0,1
6,92,1,2,92,537,0,0,161,1,4.69,...,3,1,0,1,0,0,1,1,0,1
7,41,1,2,182,143,1,0,213,1,4.20,...,2,0,0,1,0,0,0,2,1,1
8,20,0,3,180,371,1,1,120,0,0.53,...,2,1,1,1,1,0,0,1,1,0
9,39,0,2,94,489,0,0,87,0,3.73,...,1,1,1,0,1,1,1,2,1,0

In [3]:
data.shape #to see the numbero of rows and columns in dataset

(7000, 22)

In [4]:
data.info() #this functions shows the basic information about dataset like all columns names, 
#rows, columns also, data types of each columns, we can look for null values also

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 22 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Age                                7000 non-null   int64
 1   Gender                             7000 non-null   int64
 2   Chest Pain Type                    7000 non-null   int64
 3   Resting Blood Pressure             7000 non-null   int64
 4   Cholesterol                        7000 non-null   int64
 5   Fasting Blood Sugar (> 120 mg/dL)  7000 non-null   int64
 6   Resting ECG Results                7000 non-null   int64
 7   Max Heart Rate Achieved            7000 non-null   int64
 8   Exercise-Induced Angina            7000 non-null   int64
 9   Old Peak (ST Depression)           7000 non-null   float64
 10  Slope of Peak Exercise ST Segment  7000 non-null   int64
 11  Number of Major Vessels (0-3)      7000 non-null   int64
 12  Thalassemia                        7000 non-null   int64
 13  Smoking History                    7000 non-null   int64
 14  Obesity (BMI > 30)                 7000 non-null   int64
 15  Hypertension History               7000 non-null   int64
 16  Diabetes History                   7000 non-null   int64
 17  Alcohol Consumption                7000 non-null   int64
 18  Physical Activity                  7000 non-null   int64
 19  Stress Levels                      7000 non-null   int64
 20  Family History of Heart Disease    7000 non-null   int64
 21  Heart Attack Risk                  7000 non-null   int64
dtypes: float64(1), int64(21)
memory usage: 1.2 MB

In [5]:
data.describe() # to see the statistical summary of each numerical column

,Age,Gender,Chest Pain Type,Resting Blood Pressure,Cholesterol,Fasting Blood Sugar (> 120 mg/dL),Resting ECG Results,Max Heart Rate Achieved,Exercise-Induced Angina,Old Peak (ST Depression),...,Thalassemia,Smoking History,Obesity (BMI > 30),Hypertension History,Diabetes History,Alcohol Consumption,Physical Activity,Stress Levels,Family History of Heart Disease,Heart Attack Risk
count,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,...,7000.000000,7000.000000,7000.000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,58.227857,0.492571,2.507857,144.207857,351.351000,0.492429,0.489571,144.431857,0.504571,2.997859,...,1.986857,0.497714,0.506,0.498000,0.493571,0.489000,0.499571,2.010286,0.498286,0.500429
std,23.511403,0.499981,1.119491,31.682105,146.303141,0.499978,0.499927,43.224027,0.500015,1.740264,...,0.813937,0.500030,0.500,0.500032,0.499994,0.499915,0.500036,0.812924,0.500033,0.500036
min,18.000000,0.000000,1.000000,90.000000,100.000000,0.000000,0.000000,70.000000,0.000000,0.000000,...,1.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,38.000000,0.000000,2.000000,117.000000,223.000000,0.000000,0.000000,107.000000,0.000000,1.500000,...,1.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,58.000000,0.000000,3.000000,144.000000,354.000000,0.000000,0.000000,144.000000,1.000000,2.990000,...,2.000000,0.000000,1.000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000
75%,78.000000,1.000000,4.000000,172.000000,480.000000,1.000000,1.000000,182.000000,1.000000,4.530000,...,3.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000
max,99.000000,1.000000,4.000000,199.000000,599.000000,1.000000,1.000000,219.000000,1.000000,6.000000,...,3.000000,1.000000,1.000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000

In [6]:
data.dtypes  # this function only shows the data type of each columns

Age                                    int64
Gender                                 int64
Chest Pain Type                        int64
Resting Blood Pressure                 int64
Cholesterol                            int64
Fasting Blood Sugar (> 120 mg/dL)      int64
Resting ECG Results                    int64
Max Heart Rate Achieved                int64
Exercise-Induced Angina                int64
Old Peak (ST Depression)             float64
Slope of Peak Exercise ST Segment      int64
Number of Major Vessels (0-3)          int64
Thalassemia                            int64
Smoking History                        int64
Obesity (BMI > 30)                     int64
Hypertension History                   int64
Diabetes History                       int64
Alcohol Consumption                    int64
Physical Activity                      int64
Stress Levels                          int64
Family History of Heart Disease        int64
Heart Attack Risk                      int64
dtype: object

In [7]:
data.isnull().sum() # to see dataset has null values or not

Age                                  0
Gender                               0
Chest Pain Type                      0
Resting Blood Pressure               0
Cholesterol                          0
Fasting Blood Sugar (> 120 mg/dL)    0
Resting ECG Results                  0
Max Heart Rate Achieved              0
Exercise-Induced Angina              0
Old Peak (ST Depression)             0
Slope of Peak Exercise ST Segment    0
Number of Major Vessels (0-3)        0
Thalassemia                          0
Smoking History                      0
Obesity (BMI > 30)                   0
Hypertension History                 0
Diabetes History                     0
Alcohol Consumption                  0
Physical Activity                    0
Stress Levels                        0
Family History of Heart Disease      0
Heart Attack Risk                    0
dtype: int64

our data has no missing values

In [9]:
# I am using iqr method to see outliers present or not in dataset

outliers = {}
for col in data.select_dtypes(include=['int64','float64']).columns:
    q1 = data[col].quantile(0.25)
    q3 = data[col].quantile(0.75)

    iqr = q3-q1
    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    olr = data[(data[col]<lower) | (data[col]>upper)][col]
    outliers[col] = olr

for col, values in outliers.items():
    if(len(values)==0):
        print(f"{col}: No Outlier")
    else:
        print(f"{col}: Outliers Present {(len(values))}")

Age: No Outlier
Gender: No Outlier
Chest Pain Type: No Outlier
Resting Blood Pressure: No Outlier
Cholesterol: No Outlier
Fasting Blood Sugar (> 120 mg/dL): No Outlier
Resting ECG Results: No Outlier
Max Heart Rate Achieved: No Outlier
Exercise-Induced Angina: No Outlier
Old Peak (ST Depression): No Outlier
Slope of Peak Exercise ST Segment: No Outlier
Number of Major Vessels (0-3): No Outlier
Thalassemia: No Outlier
Smoking History: No Outlier
Obesity (BMI > 30): No Outlier
Hypertension History: No Outlier
Diabetes History: No Outlier
Alcohol Consumption: No Outlier
Physical Activity: No Outlier
Stress Levels: No Outlier
Family History of Heart Disease: No Outlier
Heart Attack Risk: No Outlier

We can see that there is no outlier in any of the columns. So, our data is clean.
Now, we can do visualization

# Visualization